In [1]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_csv('/Users/abhaylal/Desktop/DeepLearning/ResumeParser-Recommender/Data/final.zip')

In [15]:
df

,Unnamed: 0,Text,Label,Software_Developer,Database_Administrator,Systems_Administrator,Project_manager,Web_Developer,Network_Administrator,Security_Analyst,Python_Developer,Java_Developer,Front_End_Developer
0,0,Database AdministratorDatabase AdministratorDa...,[b'Database_Administrator'],0,1,0,0,0,0,0,0,0,0
1,1,Database AdministratorSQL Microsoft PowerPoint...,[b'Database_Administrator'],0,1,0,0,0,0,0,0,0,0
2,2,Oracle Database AdministratorOracle Database A...,[b'Database_Administrator'],0,1,0,0,0,0,0,0,0,0
3,3,Amazon Redshift Administrator ETL Developer Bu...,[b'Database_Administrator'],0,1,0,0,0,0,0,0,0,0
4,4,Scrum MasterOracle Database Administrator Scru...,[b'Database_Administrator'],0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29778,29778,ServiceNow DeveloperServiceNow DeveloperServic...,"[b'Java_Developer\n', b'Web_Developer\n', b'So...",1,0,0,0,1,0,0,0,1,0
29779,29779,Android DeveloperAndroid DeveloperRoute Planne...,"[b'Web_Developer\n', b'Software_Developer']",1,0,0,0,1,0,0,0,0,0
29780,29780,UI DeveloperUI WEB DeveloperUI DeveloperUI Dev...,"[b'Software_Developer\n', b'Front_End_Develope...",1,0,0,0,1,0,0,0,0,1
29781,29781,Web DeveloperJavascriptPHPFront EndWordpressWe...,"[b'Web_Developer\n', b'Software_Developer']",1,0,0,0,1,0,0,0,0,0
29782,29782,Sr Software EngineerDevOps ManagerWeb Develope...,"[b'Software_Developer\n', b'Web_Developer']",1,0,0,0,1,0,0,0,0,0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29783 entries, 0 to 29782
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              29783 non-null  int64
 1   Text                    29783 non-null  object
 2   Label                   29783 non-null  object
 3   Software_Developer      29783 non-null  int64
 4   Database_Administrator  29783 non-null  int64
 5   Systems_Administrator   29783 non-null  int64
 6   Project_manager         29783 non-null  int64
 7   Web_Developer           29783 non-null  int64
 8   Network_Administrator   29783 non-null  int64
 9   Security_Analyst        29783 non-null  int64
 10  Python_Developer        29783 non-null  int64
 11  Java_Developer          29783 non-null  int64
 12  Front_End_Developer     29783 non-null  int64
dtypes: int64(11), object(2)
memory usage: 3.0+ MB

In [37]:
def remove_digits(text):
    output = ''.join(c for c in text if not c.isdigit())
    return output

In [38]:
df['Text'] = df['Text'].apply(remove_digits)

In [41]:
df['Text'][9]

'Oracle Database AdministratorDatabase Administrator DeveloperJunior DBADATABASEORACLEPLSQLSQLENCRYPTIONRMANLINUXSHELL SCRIPTINGUNIXUNIX SHELLETLINFORMATICABASHSCRIPTINGSECURITYCAPACITY PLANNINGPERFORMANCE TUNINGOEMCLONINGARCHITECTUREDBAOracle DbaSql ServerOracle Database Administrator Oracle Database Administrator Oracle Database Administrator Uber Technologies Inc Greenbelt MD Im accomplished certified ORACLE Database Administrator IT expert seven years experience extensive knowledge proficiency database design monitoring performance tuning migration upgrades backup recovery cloning replication security implementations Oracle RDBMS I skilled assortment technologies including Oracle g g c c MS SQL Server I possess exceptional analytical verbal written organizational abilities Im proven team player motivational style solid reputation building retaining highly motivated teams development innovative solutions I achiever successfully manage multiple priorities perform extensively pressure Im proactive learner willing update skills new technologies improve productivity workplace Authorized work US employer Work Experience Oracle Database Administrator Uber Technologies Inc November  Present Constructing database security policy passwords privileges user profiles Transparent Data EncryptionTDE encrypt tables tablespaces implemented auditing policies data redaction data masking Designing backup strategies following company SLA execution backup schedule physical logical backups Rman Datapump utilities respectively Used block change tracking BCT reducing backup time hrs mins Resolved space issues backup optimization reducing storage costs  Upgrading databases g c Supporting daily administration monitoring tuning troubleshooting single instance UNIXLinux Database sizes range GB TB Monitoring AWR ADDM ASH Alert log dynamic performance views DBMSSTATS Trace Files System Event Logs unusual events took appropriate action according company policies incident reports Implementing table index partitioning materialized views minimize DB time increase disk load balancing improve query speed enable faster parallel query Cloning schemas objects databases new server exports g database imported g DATA PUMP Applied Oracles quarterly Critical Patch Update CPU PSU application Opatch utility install test deploy patches database instances Implementing tuning maintaining Oracle database OEM Capacity planning meet demands dynamic aspects storage memory databases Reconciled functional technical problems research training workshops achieving  increase satisfaction rate database end users Developing Standard Operating Procedures SOPs data extraction weekly activity report Database Administrator Developer SYSCO March  October  Installed configured Oracle g g servers created databases Linux environments Researched tested recommendations data validation tools Established implemented backuprecovery patch scheduling exported imported databases frequently development test environments archiving purposes Generated shell scripts developers automate maintenance backup jobs Created databases Entity Relational Diagrams ERD Forward Engineering UML Unified Modeling Language Part team conducted database migration g upgrade c Oracle Datapump DBUA respectively Cloned databases testing RMAN DATAPUMP utilities database sizes Administering Physical Standby databases high availability disaster recovery solution DATA GUARD Expert working PLSQL including Procedures Functions Cursors Triggers Providing administrative support maintenance Oracle g c installations database creation database security database optimization tuning Created tracked closed service tickets REMEDY ticketing system developed defect prevention process including limited root cause analysis corrective action Controlled databases high alertness ensure peak performance stability reliability availability Configure manage ASM instances Oracle g c Resolved locking issues inconsistencies assisted batch processes Assisted developers SQL code troubleshooting tweaked applications procedures SQL necessary Developed RMAN backup recovery strategies procedures Performed database patching bug fixes mitigate security vulnerabilities Test recovery support continuity operations procedures Performed user administration Performed aspect database operations maintenance OM x remote support rotation NFI Junior DBA NFI March  January  Active member team championed database migration g g Oracle DataPump DBUA utilities respectively Performed database Refreshes production environments Data Pump IMPEXP RMAN duplicate Installed configured software Oracle g g Windows LINUX platforms Oracle OFA Also Installed Administered Maintained SQL Servers Rewrote implemented backup strategy following company SLA execution backup schedule physical logical backups RMAN DATAPUMP utilities respectively I block change tracking BCT reduced backup time seven hours hour Deployed Database security policy installation passwords privileges user profiles Used Oracle Transparent Data Encryption encrypt columns tables Tablespaces I implemented triple A AAA database auditing policies data redaction Managed database security creating assigning appropriate roles privileges users depending user activity auditing performing security related tasks including Transparent Data Encryption Education Information Technology University MarylandUniversity College Adelphi MD Present Skills DATABASE ORACLE PLSQL SQL ENCRYPTION RMAN LINUX SHELL SCRIPTING UNIX UNIX SHELL ETL INFORMATICA BASH SCRIPTING SECURITY CAPACITY PLANNING PERFORMANCE TUNING OEM CLONING ARCHITECTURE DBA Oracle Dba Sql Server Links httpwwwlinkedincominericnyambabid CertificationsLicenses OCA Additional Information OCPIn Progess'

In [52]:
df.columns

Index(['Unnamed: 0', 'Text', 'Label', 'Software_Developer',
       'Database_Administrator', 'Systems_Administrator', 'Project_manager',
       'Web_Developer', 'Network_Administrator', 'Security_Analyst',
       'Python_Developer', 'Java_Developer', 'Front_End_Developer'],
      dtype='object')

In [54]:
df.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [56]:
df.to_csv('res_data.csv')